/******

    https://github.com/zielous/zielhacks
    License: None (public domain)

    --- ABOUT

    This style sheet is designed to provide easy visual indicators while building your HTML, complimenting the use of DevTools

    --- INSTRUCTIONS

    Load me AFTER any reset.css but BEFORE any other CSS files

    Comment out any elements below which you don't want to see highlighted

    Once you are done, comment out the link to this file from your head so you can re-use it again when needed later

    --- TABLE OF CONTENTS

    #background
    #automatic-borders
    #manual-borders

******/

/*----------*\
#BACKGROUND
\*----------*/

/**
*
* Helps to see non-transparent images / elements that
* are the same color as *the background
*
*/

html {
  background: repeating-linear-gradient(
  47deg,
  whitesmoke,
  whitesmoke 5px,
  lightgray 5px,
  lightgray 10px);
}





/*----------*\
#AUTOMATIC-BORDERS
\*----------*/

/**
*
* Helps to see non-transparent images / elements that
* are the same color as *the background
*
*/

div, nav, section, article, footer {
  outline: 1px solid red;
}

h1, h2, h3, h4, h5, h6 {
  outline: 2px dashed orange;
}

p, span {
  outline: 2px dashed green;
}

img {
  outline: 2px dashed turquoise;
}


ul, li {
  outline: 2px dashed pink;
}





/*----------*\
#MANUAL-BORDERS
\*----------*/

/**
*
* In your HTML, use the classes vb1, vb2, and vb3
* to highlight specific elements. Hence why they
* are Border instead of Outline
*
**/

.vb1 {
  border: 2px solid blue;
}

.vb2 {
  border: 2px solid yellow;
}

.vb3 {
  border: 2px solid green;
}
